# Week 1 Notebook 1 Introduction to Python

## Overview

Welcome! In this lesson we will cover the following important concepts for getting started with Python:

1. Variables in Python 
- Creating variables for storing data 
- Python data types (integers, floats, boolean, strings)
- Assigning values to variables
2. Errors encountered during programming
- The different types of errors

## Variable Creation

Creating variables is an important practice in order to store and retrieve data. Data can be easily reused if stored and  the use of variabes prevents repetition of code. 

In Python, we can create a variable by simply assigning a value to it. The value assigned can be a number, a word or even an expression. 

For example, we can assign a value 20 to the variable `x`, as shown in the cell below. Click in the code cell, then click the 'Run' button to run the code.

In [16]:
# Click inside this cell, and then click the 'Run' button.
x = 20

After you run the cell, you will see a number in the `In[ ]` showing that it has been executed.

If you have run the code successfully, you can check what has been stored in `x` by just typing the name of the variable. 
Try it by running the cell below:

In [17]:
# You can also press Shift and Enter to run a cell
x

20

 As you can see in the `Out[]`, the value of `x` is 20. Change the command to `print(x)` and you will find the same result.

In [21]:
# Assigning a string to a variable
name = "Joe"

In the code cell above, there is a comment, that starts with a #. 
This is just to explain what the code does to anyone who is reading it.
It will not be executed. We can try to check the value of `name` using `print(name)`:

In [22]:
print(name)

Joe

Try to change the value that has been assigned to `name` to your own name, then run both cells again.
You can run more than one cell at a time using these steps:
- click the outer part of a cell (near the `In [ ]`, so that it enters command mode. You will see the border of the cell change to blue.
- hold down the SHIFT key
- move to another cell and click on the outer part too 
- this changes the range of cells within your selection to blue
- press SHIFT and ENTER to run, or click on the Run button.

An important aspect to keep in mind is that descriptive variable names help with the readibility and understanding of code. For example, if we wanted to record the age of a person, we should use

`age = 20`

This is a better alternative to `x = 20`, as you would be able to remember the purpose of the variable.

While naming your variables, remember a few key points: <br>
    a) Variables cannot be any of the Python reserved words () <br>
    b) Variables can start with letters or an underscore followed by letters, numbers or underscore. <br>
    c) Python is a case-sensitive langauge so remember `age` is different from `Age`. <br>
    d) Mathematical operators and special symbols are also prohibited to be used as variable names.

# Data Types in Python

Python makes use of some basic data types and some slightly more advanced data types. The basic ones we wil be covering in this lesson are:
    1. Integer
    2. Float
    3. Boolean
    4. String

Data types are important in establishing the kind of data that is stored in a variable and hence the kind of operations that can  be performed on this variable.

For example, run the cell below.

In [24]:
name = "Mike"
age = 20
name + age

TypeError: can only concatenate str (not "int") to str

Why do we get this error?

It is because `name` is a `str`, or string variable, and `age` is an `int`. 
The `+` operation means different things for integers and strings, so this results in a `TypeError`.

To check the data type of a variable, you can use the `type` function, as in the cell below.

In [25]:
# The type function is used to check the data type of a variable
type(name)

str

Try to check the type of `age` too.

In [ ]:
# What is the data type of age? Enter the code here.

Now let's start off with one of the most common data types in Python: Integers.

### Integers and Floats

Integers and floats are numeric data types. 
- Integers (`int`) are used to represent whole numbers, that do not have decimal places. 
- Floating-point numbers (`float`) are those that have decimal places. 

Basic arithmetic operations are similar to those in mathematics. The numeric operators take operands on either side of the operator and return a result. Floating-point and integer values can be used for the operators except for the Quotient and Remainder operators. 

| Arithmetic Operator 	| Operation 	| Example 	| Result 	|
|:---:	|:---:	|:---:	|:---:	|
| + 	| Addition 	| 4 + 3.0 	| 7.0 	|
| - 	| Subtraction 	| 9 - 3.5  	| 5.5 	|
| * 	| Multiplication 	| 2 * 6 	| 12 	|
| / 	| Division 	| 5 / 2 	| 2.5 	|
| // 	| Quotient 	| 5 // 2 	| 2 	|
| % 	| Remainder 	| 5 % 2 	| 1 	|
| ** 	| Exponentiation (Power) 	| 2 ** 3 	| 8 	|




You can run each of the cells below, or perform your own calculations.

In [4]:
# Addition
9 - 3.5

5.5

In [41]:
# Subtraction
5 - 3.0

2.0

In [42]:
# Multiplication
4.2 * 3

12.600000000000001

In [43]:
# Division
5 / 2

2.5

It is important to note that using the `/` for division returns a floating-point number as a result.

Another operator that is used for integer division is `//`. This will return only the integer part of the answer. It is also called **floor division**.

In [46]:
# Floor Division returns an integer result
5 // 2

2

The remainder from division can be calculated using the `%` operator, which is called the **modulo** operator.

In [48]:
# modulo operator
5 % 2

1

Results of operations can also be stored in variables.

In [30]:
product = 5 * 9
product

45

We can also perform operations on variables, if they store numeric variables.

In [49]:
# Performing operations on variables
a = 5
b = 9.5

print(b - a)

4.5

### Type Conversion

Values may be converted to different to a different data type, using **type casting**. For example, if we want to convert a floating-point value `4.6` to an integer, we can use the `int()` function.

In [52]:
# Converting float to int
int(4.6)

4

Similarly we can *cast* an integer to a float. In this example, we have a variable which is an integer, and we will convert the value to a float.

In [2]:
value = 9
newValue = float(value)  # cast the value as a float and save in a new variable
print(value)
print(newValue)

9
9.0

Apart from casting `int` to `float` and `float` to `int`, we can also change the data type from numeric to strings. We will look at strings later in this note book, but we can also convert an integer to a string using the `str` function.
Remember in the example above, we had a `TypeError` for the following code:

In [55]:
name = "Mike"
age = 20
print(name + age)

TypeError: can only concatenate str (not "int") to str

The error actually says we can only concatenate `str` to `str`.
We can correct the error by casting the `age` to a `str`:

In [57]:
name = "Mike"
age = 20
print(name + str(age))

Mike20

### Operator Precedence

 
Python uses PEMDAS to evaluate expressions with multiple operators.
The 
- (P) - Parenthesis
- (E) - Exponents
- (M)(D) Multiplication & Division (from left to right)
- (A)(S) Addition & Subtraction (from left to right)

In [58]:
# What do you think the result of this expression is?
5 * 3 - 2 ** 3

7

Did you get the right answer?
In the cell above, the exponentiation operation `2 ** 3` is evaluated first, then the multiplication `5 * 3`, then the subtraction.

Try another one:

In [3]:
# What will be printed?
result = (10 - 2) // 3 + 1
print(result)

3

Remember that `//` gives the quotient value of integer division, so it is considered a division operator and will be evaluated after the parentheses `(10 - 2)`.

###  Comparison Operators

Comparison operators are used to compare values. Two operands on either side of a comparison operator will form a **conditional statement**. The result of a comparison will be a Boolean value, `True` or `False`. 

| Comparison Operator 	| Comparison 	| Conditional Statement 	| Result 	|
|:---:	|:---:	|:---:	|:---:	|
| > 	| greater than 	| `5 > 2` 	| True 	|
| >= 	| greater than or equal to 	| `4 >= 4` 	| True 	|
| < 	| less than 	| `5 < 2` 	| False 	|
| <= 	| less than or equal to 	| `3 <= 2` 	| False 	|
| == 	| equal 	| `2 + 1 == 3 + 0` 	| True 	|
| != 	| not equal 	| `2 + 1 != 3 + 0` 	| False 	|

**Important!** To check whether two values are equal, we have to use `==`, a *double equals* sign. This is because Python already uses `=` to assign values to variables. So always remember that in Python:
- `=` means assignment
- `==` means equality

In [15]:
# Exercise : Difference between = and ==
# Remove the comment sign (#) from TWO of the lines below so that there is no error when you run the cell.

#value = 7
#print(value = 7)
#print(value == 7)

What will the output of the following lines of code be? Try to guess by writing your answer as a comment on the right of each line before running the cell.

In [16]:
# Guess the output
print(27 > 3)         # Your answer: 
print(16 < 16)        # Your answer:
print(8 * 2 <= 16)    # Your answer:

age = 18
print (age >= 21)     # Your answer : 

years = 2
print(age + years != 21)    # Your answer:

True
False
True
False
True

## Boolean values

The `bool` data type is used to represent Boolean values which evaluate to either `True` or `False`. 

For example lets assume it's raining today, and cloudy. 

We can assign a `True` value to a variable called `rainy` and a `False` value to a variable called `sunny`.

In [ ]:
rainy = True
sunny = False

Try to print whether is sunny. Follow the example for rainy.

In [21]:
# Print whether it is rainy
print("It is rainy : "", rainy)

# Now check if it is sunny

It is rainy :  True

In Python, values can also be assigned to multiple variables simultaneously with the condition that the number of values on the left and right side of the assignment statement are equal.

In [18]:
rainy, sunny, windy = True, False, True

In [19]:
print("Is it windy?"", windy)

Is it windy? True

## Logical Operators

Logical operators are used to combine conditional statements.

There are three logical operators:
- `and`: evaluates to `True` only if *both* conditional statements are `True`
- `or`: evaluates to `True` if *either* condition is `True
- `not`: negates `True` to `False`  and `False` to `True`

This is summarized in the following table:

|       Statement_A        	|      Statement_B      	| Statement_A `and` Statement_B 	| Statement_A `or` Statement_B 	| `not` Statement_A 	| `not` Statement_B 	|
|:------------------------:	|:---------------------:	|:-----------------------------:	|:----------------------------:	|:-----------------:	|:-----------------:	|
|           True           	|          True         	|              True             	|             True             	|       False       	|       False       	|
|           True           	|         False         	|             False             	|             True             	|       False       	|        True       	|
|           False          	|          True         	|             False             	|             True             	|        True       	|       False       	|
|           False          	|         False         	|             False             	|             False            	|        True       	|        True       	|

For example, we can use the operators with the Boolean variables `rainy`, `sunny` and `windy` defined above:

In [28]:
rainy, sunny, windy = True, False, True

print("It is rainy AND sunny: ", rainy and sunny)
print("It is either rainy OR windy : ", rainy or windy)
print("It is NOT rainy :", not rainy)

It is rainy AND sunny:  False
It is either rainy OR windy :  True
It is NOT rainy : False

The `not` operator has higher precedence than `and` and `or`, so a `not` operation will be evaluated first, then `and` or `or`, from left to right. Can you predict what will be displayed by the following code?

In [ ]:
# Put in your answer in the comment on the right before running this cell
rainy, sunny, windy = True, False, True

print(not True and False)                  # Your answer:  
print(not rainy and not sunny)             # Your answer:
print(not windy or not rainy and sunny)    # Your answer:

## Strings

A string refers to an ordered sequence of characters. Strings in Python can be enclosed in single quotes or double quotes.

They are useful in representing text and are one of the most popular data types used in Python! 

For example, we can store an employee's name as a string.

In [ ]:
# printing a string
print("Hi, my name is Ahad")

In [33]:
employee_name = 'Denver'
print(employee_name)
print(type(employee_name))   # check the type of the variable

Denver
<class 'str'>

### Common String Operations:

<b>a) Concatenation</b>

Strings can be concatenated, or joined together, by simply using a '+' operator between strings. This helps us get a longer string.

In [ ]:
# concatenating three strings
print("what do you do " + "in your " + "free time?")

In [34]:
# Concatenating a string with a string variable
print("Good Morning! My name is " + employee_name)

Good Morning! My name is Denver

In [35]:
# Concatenating two string variables
title = "Mr."
last_name = "Ming"
print(title + employee_name + last_name)

Mr.DenverMing

As you van see above, the concatenation just joins all the string variables together. Can you add a spaces between the title and the `employee_name` and `last_name`?

In [ ]:
# Exercise: Add spaces so that the output is "Mr. Denver Ming"
# Concatenating two string variables
title = "Mr."
last_name = "Ming"
print(title + employee_name + last_name)

<b>b) Indexing</b>

What if I desire to know the last character in a given string? Or I want to know the first character? Maybe I am even interested in knowing which alphabet sits on position 3! <br>
To access a single character in a string in known as indexing. We simply write our string, followed by square brackets indicating which position we want. Lets try acessing the first character of a string.

In [ ]:
"Python"[1]

Why did we not get the letter 'P'?

This is because Python sequences are zero-indexed! 

This means the first character of a string has an index of zero, and the second one is index 1, up to the last character.

|  	| P 	| y 	| t 	| h 	| o 	| n 	|
|-----------	|:-:	|---	|---	|---	|---	|---	|
| index     	| 0 	| 1 	| 2 	| 3 	| 4 	| 5 	|

In [37]:
"Python"[0]

'P'

In [36]:
"Python"[4]

'o'

What happens if you try to to access a index that is larger than the range of values?

In [ ]:
# Exercise: what's the largest value that can be indexed?

We can use indexing with string variables.

In [39]:
word = "embezzlement"
print(word[0])

e

In [ ]:
# Exercise: display the second 'z' from the word "embezzlement" using the variable defined above.

**Negative Indexing**

Additionally, Python also allows us to access elements from the back! However, an important aspect to remember is that it uses negative indices in this case. So the last element coresponds to an index of -1, second last element is -2 and so on.

In [38]:
"Python"[-1]

'n'

In [ ]:
# Exercise: Using negative indexing, display the FIRST character of "Python"

<b> c) Slicing </b>

Maybe we now want to extract more than one letter from a string! How do we go about that?


The answer to this is in slicing whereby segments of a string can be _sliced_ from the original string! 

The syntax for a slice is \[ *start* : *stop* : *step* \], where *start* means the index that you want to start at, *stop* is the index to slice up to, and *step* indicates the steps to increment by.

For example, to select the chacters **ind** from the word "mindblown": 


|  	| m 	| `i` 	| `n` 	| `d` 	| b 	| l 	| o 	| w 	| n 	|
|-----------	|:-:	|---	|---	|---	|---	|---	|---	|---	|---	|
| index     	| 0 	| 1 	| 2 	| 3 	| 4 	| 5 	| 6 	| 7 	| 8 	|

The *start* is 1, the *end* is 4 and the *step* is 1, because we want each character between the *start* and *end*

In [42]:
"mindblown"[1:4:1]

'ind'

Using a *step* of 2 will skip over one character each time. To select the characters 'i', 'd' and 'l':


|  	| m 	| `i` 	| n 	| `d` 	| b 	| `l` 	| o 	| w 	| n 	|
|-----------	|:-:	|---	|---	|---	|---	|---	|---	|---	|---	|
| index     	| 0 	| 1 	| 2 	| 3 	| 4 	| 5 	| 6 	| 7 	| 8 	|

The *start* is 1, the *end* is 6 and the *step* is 2. Try it out!

In [43]:
# Exercise: Try getting the characters i, d and l
"mindblown"[1:6:2]

'idl'

Leaving out any of the values of *start*, *stop* and *step* allows Python to assume the default values.
- *start* is assumed to be 0
- *end* is assumed to be the end of the string
- *step* is assumed to be 1 

Remember that the space between words also takes up an index in a string!

In [58]:
# Exercise: what will be printed by the following lines? Enter your answers before running the cell.
print("See you later"[:5])                      # Your answer:
print("Hello world again"[:10:2])               # Your answer:
print("Python is a programming language"[::3])  # Your answer:
print("This is fun"[2::])                       # Your answer:
print("Google & Amazon"[::])                    # Your answer:
print("Google & Amazon"[10::-1])                # Your answer:

See y
Hlowr
Ph  pgmnlgg
is is fun
Google & Amazon

mA & elgooG

For the last one, notice that we are using a *step* of -1, so the slice is obtained **backwards** from the *start*. However, you must be careful that if the *step* is positive, that the *start* index must be **before** the *stop* index.

In [66]:
# Exercise: What happens when you run this? Correct the error so that it displays "oge&Aao"
"Google & Amazon"[10:1:2]

''

**Some String Methods**

There are several Python string methods which can be used to return a modified version of a string.

Some useful ones are listed below: <br>

    
| String Method 	| description                                                                	|
|:-----------------	|:----------------------------------------------------------------------------	|
| upper()         	| Converts a string to all uppercase                                         	|
| lower()         	| Converts a string to all lowercase                                         	|
| capitalize()    	| Capitalizes the first letter of a string                                   	|
| title()         	| Capitalizes the first letter of each word in a string                      	|
| strip()         	| Removes whitespace (such as the space character, or tab) from a string     	|
| lstrip()        	| Removes whitespace from the left up to the first non-whitespace character  	|
| rstrip()        	| Removes whitespace from the right up to the first non-whitespace character 	|
    
    
For example, we can use the lstrip() method to return a string with the spaces from the left side of the string removed.

In [78]:
# Using string methods
name = "   data science   "
print(name.lstrip())            # trimmed of whitespaces
print(name)                     # original string

data science
   data science

As you can see, the original string is not modified. You can save it in a new string, or replace the original.

In [77]:
# Using string methods
name = "   data science   "

new_name = name.lstrip()        # need to save the results in a variable
print(new_name)

name = name.lstrip()            # replace the original variable
print(name)

data science
data science

Try to use the string methods to convert the string below.

In [ ]:
title = "   data science for good   "
# 1. remove the whitespaces from both sides and store in a new variable called new_title

# 2. Change the new variable to Title Case: "Data Science For Good", and store it back in the same variable

# 3. Print the resulting string

# Errors Encountered During Programming

It is inevitable to avoid errors during programming! Hence it is essential to know some of the common ones beforehand so that we can easily rectify them.

## Syntax Error

A syntax error is one of the most common errors! There's a high chance you wont even realise during coding that you've made this error! <br>
Code needs to syntactically correct for the Python interpreter to convert the commands into machine readable format. 

Syntax Errors are are easily corrected by making sure you follow the Python syntax.

Run the following code to view the error messages.

In [79]:
"My brother works at NASA

SyntaxError: EOL while scanning string literal (Temp/ipykernel_8880/3156166228.py, line 1)

The Python interpreter tells us there is a `SyntaxError`.
The reason is the missing quotation mark at the end of the line (EOL).

In [80]:
while i < 10
    print(i)

SyntaxError: invalid syntax (Temp/ipykernel_8880/2746549684.py, line 1)

Reason: Missing colon

What is the error in the code snippet below?

In [82]:
if x = 5:
        print("pass")
else:
        print("fail")

SyntaxError: invalid syntax (Temp/ipykernel_8880/1602677680.py, line 1)

Take a look at where the error is highlighted. Recall that a single equals sign is used for variable assignment, and in this case we want to check for equality.

It is also important to note that more often than not, Python is not efficient enough to correctly call out the line of error! This can occur due to multiple errors in the code. 

In that case, Python will only point out your first error. It is therefore your job to figure it out by close inspection instead of fully relying on the Python interpretor to point it out for you!

**Indentation Error** is also a type of syntax error! Python is very particular about it's indentation & requires lines of code to be correctly alligned.

In [83]:
if age < 20:
print("Does not meet age limit")

IndentationError: expected an indented block (Temp/ipykernel_8880/145883633.py, line 2)

## Name Error

Variables require initialisation before usage. A `NameError` occurs when the called object does not exist yet.

In [84]:
print(doctor)

NameError: name 'doctor' is not defined

## Index Error

Index Errors occur when the specified index does not exist

In [85]:
"elephant"[8]

IndexError: string index out of range

## Type Error

A `TypeError` relates back to the concept of data types we studied above. Every data type has its specific operations that can be performed on it. We may encounter an error if we try performing an operation on two different data types.

In [88]:
1 + "omicron"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Even if the data types are the same, we could also get a `TypeError` if the operation is not supported by the data types.

In [87]:
"delta"//"beta"

TypeError: unsupported operand type(s) for //: 'str' and 'str'

## Value Error

This occurs when the value cannot be operated upon by a function.

In [89]:
float("power sector")

ValueError: could not convert string to float: 'power sector'

## Attribute Error

When an attribute does not exist in an object we are met by an attribute error. For example, if we try to use a string method on an integer:

In [96]:
x = 10
x.upper

AttributeError: 'int' object has no attribute 'upper'

These are just some of the common errors, but don't worry, when you get an error, read the error message and check your code.

## Exercises

A small business buys coffee in bulk and repackages them into smaller packs. They would like to calculate the profit for the last week. The cost of buying the coffee was SGD$200. They packed the coffee into 50 smaller packs and have sold 20 packs for SGD$7.50 each.

The data was recorded into variables and they would like you to help them calculate their profit.

In [25]:
# Original variables

product_name_str = "hazelnut coffee"
product_description_str = "premium coffee mixed with hazelnut essence"
cost_price_str = "SGD$200"
num_packs_prepared = 50
num_packs_sold = 20
sale_price_str = "SGD$7.50"

Q1. Convert the `product_name_str` into "Title Case" where the first letter of each word is capitalized. Save the result into a variable `product_name`.

In [26]:
# Q1 Answer here
# Hint: if you find the variable names very long, start typing a few letters then press the TAB key to select the correct name.
product_name = product_name_str.title()
product_name

'Hazelnut Coffee'

Q2. Capitalize the first letter of the `product_description_str` and save the result into a variable `product_description`.

In [27]:
# Q2 Answer here
product_description = product_description_str.capitalize()
product_description

'Premium coffee mixed with hazelnut essence'

Q3. Extract the characters after the '$' in `cost_price_str` using slicing, and then cast the result into a floating-point number. Store the final value in a variable called `cost_price`

In [28]:
# Q3 answer here
cost_price=float(cost_price_str[4:])
cost_price

200.0

Q4. Also extract the floating-point value from `sale_price_str` into a variable valled `sale_price`

In [29]:
# Q4 amswer here
sale_price=float(sale_price_str[4:])
sale_price

7.5

Q5. Calculate the cost of each small pack of coffee, by dividing the `cost_price` by `num_packs_prepared`. Store the result in a variable `cost_per_pack`.

In [30]:
# Q5 Answer here
cost_per_pack = cost_price / num_packs_prepared
cost_per_pack

4.0

Q6. Calculate the total sales by multiplying the `sale_price` by the `num_packs_sold`. Store the result in a variable `total_sales`

In [31]:
# Q6 Answer here
total_sales = sale_price * num_packs_sold
total_sales

150.0

Q7. Create a variable `has_profit` that compares the `total_sales` with `cost_price` and returns `True` if `total_sales` is greater than `cost_price`, and `False` if it is not.

In [32]:
# Q7
has_profit = total_sales > cost_price
has_profit

False

Q8. Now put it all together by printing four lines that look like the following, using the variables you have created. 

```
Hazelnut Coffee : Premium cofee mixed with hazelnut essence
Original cost was SGD$200
Total sales was SGD$150.0
Has Profit ? False
```

In [33]:
#Q8 ANswer here
print(product_name + " : " + product_description)
print('Original cost was ' + cost_price_str)
print('Total sales was SGD$' + str(total_sales))
print('Has Profit ? ' + str(has_profit))

Hazelnut Coffee : Premium coffee mixed with hazelnut essence
Original cost was SGD$200
Total sales was SGD$150.0
Has Profit ? False

Great job! Now you can change the original variable values for other products!

For help on Python, you can actually just type help() and run the cell. Try it below. In the text box that appears, you can type `keywords` to get the list of keywords that are used in Python. You will not be able to use the keywords as variable names.

In [ ]:
help()

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield